@mixin responsive() {
  margin: 0 auto;
  width: 1120px;

  @media only screen and (max-width: 1170px) {
    max-width: 840px;
  }

  @media only screen and (max-width: 890px) {
    max-width: 560px;
  }

  @media only screen and (max-width: 610px) {
    max-width: 280px;
  }
}

@mixin icon($color) {
  & > .material-icons-container {
    display: inline-flex;
    height: 100%;
    padding: 6px;
    position: absolute;

    & > i {
      color: $color;
      top: (9px + 4px);
    }
  }
}
