@import './Mixins.scss';
@import './App.scss';

$search-container-background-color: #2D4F83;

#search-container {

  background-color: $search-container-background-color;
  height: 54px;
  padding: 9px 0;
  width: 100%;

  & > div {
    @include responsive;
    @include icon(#979696);

    display: flex;
    height: 36px;
    padding: 0 8px;
    position: relative;

    & > input {
      border-radius: 3px;
      font-size: 18px;
      height: 100%;
      padding-left: 36px;
      width: 400px;
  
      @media only screen and (max-width: 610px) {
        width: 100%;
      }
    }
  }
}
